// @import url("https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css" );
// @import url("./imports/katex.min.css");

// @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
// @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,355;0,400;0,423;0,500;0,712;0,900;1,253;1,400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,355;0,400;0,423;0,500;0,712;0,900;1,253;1,400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --color-bg-p: #FFFFFC;
  --color-bg-s: #EEEEED;
  --color-bg-ss: #FEFEFD;
  --color-fg-p: #001011;
  --color-fg-e: #98CE00;
  --color-fg-a: #6CCFF6;
  --color-shadow: #757780;
}

html,
body {


  
  
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Fira Code', sans-serif;
  font-weight: 400;
  
  color: var(--color-fg-p);
  background-color: var(--color-bg-p);
  scroll-behavior: smooth;

  &:before{
    content:'';
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;

  }
  // overflow-x: hidden;
  
}

body {
  overflow-y: scroll;
}

.bg-p{
  background-color: var(--color-bg-p) !important;
}
.bg-s{
  background-color: var(--color-bg-s) !important;
}
.bg-ss{
  background-color: var(--color-bg-ss) !important;
}
.fg-p{
  color: var(--color-fg-p) !important;
}
.fg-s{
  color: var(--color-fg-s) !important;
}
.fg-e{
  color: var(--color-fg-e) !important;
}
.fg-a{
  color: var(--color-fg-a) !important;
}
.color-shadow{
  color: var(--color-shadow) !important;
}

.font2{
  font-family: 'Merriweather', 'Raleway', sans-serif !important;
}

.ita {
  font-family: 'Charm', sans-serif !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-bg-s);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-left: 1px dashed var(--color-fg-e);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(143, 84, 160, 0.1);
  border-radius: 10px;
  border: 1px solid var(--color-fg-e);
}

.my-component {
  background: #fff;
  display: none;
}

.fullscreen-enabled {
  // background: rgba($color: #000000, $alpha: 0.5) !important;
  display: block;
  opacity: 0.2;
}

i {
  font-size: x-large;
}


.text-shadow{
  text-shadow: 0px 2px 0px var(--color-shadow);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animateHeader{
  animation: headerTiny 100ms ease-in-out 0s alternate;
}

@keyframes headerTiny {
  0% {
    // text-align: center;
    opacity: 0;
  }
  50% {
    // font-weight: 100;
    text-align: center;
    // padding-left: 10px;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    // text-align: center;
  }
}

@keyframes append-animate {
	from {
		transform: translateY(-5%) scale(0.95);
		opacity: 0;
	}
	to {
		transform: translateY(0%) scale(1);
		opacity: 1;	
	}
}

/* animate new box */
.new-box {
	animation: append-animate .3s linear both;
}

.maskWhite{
  mask-image: linear-gradient(rgba(255, 255, 255, 1.0), transparent);
}

.bcolor{
  border-color: var(--color-bg-s);
}

#sidenav {
  filter: brightness(90%);
}

#searchnav {
  filter: brightness(70%);
}

.dividerGradient{
  position: absolute;
  width: 1px;
  height: 90%;
  left: 0px;
  top: 0px;
  float: left;

  background-image: radial-gradient(ellipse farthest-side at center, var(--color-bg-s), transparent);
  filter: brightness(20%);

  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: 3px;
    background: linear-gradient(to top, transparent, #98CE00, #98CE00, transparent)
  }
}

ul {
  list-style-type: disclosure-open;
  list-style-position: outside;

  // li { display: list-item !important; }

  #focused{
    margin-left: 15px;
    // filter: invert(1);

    color: var(--color-fg-a);
    background-color: transparent;
    // border-radius: 2px 2px;
    cursor: pointer;
  }
}

.iconaligncenter::before{
  vertical-align: text-top;
}

.bgP{
  background-color: var(--color-bg-p);
  color: var(--color-fg-p);
}

.bgI{
  background-color: var(--color-fg-a);
  color: var(--color-bg-s);
}

#contentpost{
  font-size: calc(18px * var(--fontSizeMultiplier));
  font-weight: calc(300 * var(--fontSizeMultiplier));

  // SETTING UP NUMBERING
  /* Initialize counters for h1, h2, and h3 */
  body {
    counter-reset: section; /* Reset the counter for h1 */
    counter-reset: h4-counter;
  }

  h1 {
    counter-reset: subsection; /* Reset subsection for h1 */
    counter-increment: section; /* Increment the main section counter */
  }

  h1::before {
    // content: counter(section, upper-roman) ". " !important; /* Display the counter as Roman numeral */
  }

  h2 {
    counter-increment: subsection; /* Increment subsection counter */
  }

  h2::before {
    content: counter(section, upper-roman) "." counter(subsection, decimal) " "; /* I.1 format */
  }

  h3 {
    counter-increment: subsubsection; /* Increment the third level counter */
  }

  h3::before {
    content: counter(section, upper-roman) "." counter(subsection, decimal) "." counter(subsubsection, lower-alpha) " "; /* I.1.a format */
  }

  h4 {
    counter-increment: h4-counter;
  }

  h4::before {
    content: counter(h4-counter) ". "; /* Display the number followed by a dot */
  }




  @media (min-width: 400px) and (max-width:1000px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 1000px) {

    

    h1 {
      text-align: center;
      position: relative;
    }
    
    h1::before,
    h1::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 10%;
      height: 1px;
      background-color: var(--color-fg-p); /* Adjust color here */
    }
    
    h1::before {
      left: 0;
      margin-right: 0px; /* Add space between the title and the line */
    }
    
    h1::after {
      right: 0;
      margin-left: 0px; /* Add space between the title and the line */
    }

    p, h2, h3, h4, h5, ol, ul {
      margin-left: 100px !important;
      margin-right: 100px !important;
    }

  }


  h1 {
    font-family: "Charm";
    font-size: calc(32px * var(--fontSizeMultiplier));
    font-weight: calc(900 * var(--fontSizeMultiplier));
    line-height: calc(32px * var(--fontSizeMultiplier));
    letter-spacing: calc(4px * var(--fontSizeMultiplier));
    margin-top: calc(38px * var(--fontSizeMultiplier));
    margin-bottom: calc(15px * var(--fontSizeMultiplier));

    // border-bottom: 1px dotted var(--color-fg-p);
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h1:hover{
    filter: opacity(0.5);
  }

  h2{
    font-family: "Charm";
    font-size: calc(24px * var(--fontSizeMultiplier));
    font-weight: calc(700 * var(--fontSizeMultiplier));
    line-height: calc(32px * var(--fontSizeMultiplier));
    letter-spacing: calc(4px * var(--fontSizeMultiplier));
    margin-top: calc(28px * var(--fontSizeMultiplier));
    margin-bottom: calc(7px * var(--fontSizeMultiplier));
  }

  h3{
    font-family: "Charm";
    text-decoration: underline;
    font-size: calc(18px * var(--fontSizeMultiplier));
    font-weight: 600;
    line-height: calc(32px * var(--fontSizeMultiplier));
    letter-spacing: calc(4px * var(--fontSizeMultiplier));
    margin-top: calc(28px * var(--fontSizeMultiplier));
    margin-bottom: calc(7px * var(--fontSizeMultiplier));
  }

  h4 {
    font-family: "Charm";
    font-size: calc(16px * var(--fontSizeMultiplier));
    font-weight: 500;
    text-decoration: underline;
    line-height: calc(22px * var(--fontSizeMultiplier));
    letter-spacing: calc(3px * var(--fontSizeMultiplier));
    margin-top: calc(18px * var(--fontSizeMultiplier));
    margin-bottom: calc(5px * var(--fontSizeMultiplier));
  }

  blockquote {
    p {
      font-family: "Charm" !important;
      font-weight: 600;
      font-size: 1.2em;
    }
    border-left: 1px solid var(--color-fg-a) !important;
    padding-left: calc(10px * var(--fontSizeMultiplier));
    margin-top: calc(4px * var(--fontSizeMultiplier));
    margin-bottom: 4px;
    margin-left: 10px;
  }


  p{
    font-family:  'Fira Code', Courier, monospace !important;
    margin-bottom: 14px;
    line-height: 1.4;
    text-align: justify;
    position: relative;
  }

  p.hint::first-letter{
    font-style: normal;
    font-size: normal;
    // font-weight: normal;
    margin: 0;
  }

  p::first-letter {
    font-size: 110%;
    font-weight: 600;
    // font-style: italic;
    margin-right: 0px;
    padding: 0;
    margin-left: 14px;
    // margin-top: 8px;

  }

  // code {
  //   background-color: var(--color-code-bg);
  //   border: 1px dashed var(--color-bg-s);
  //   padding: 5px;
  //   margin: 14px;
  //   display: block !important;
  //   // filter: brightness(110%);
  //   float:left !important;
  //   width: 100% !important;
  //   overflow: hidden !important;
  // }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    padding: 10px;

    li{
      margin-bottom: 12px;
    }
  }

  strong{
    font-weight: calc(400 + 300 * var(--fontSizeMultiplier)) !important;
  }

  ol {
    background-color: var(--color-bg-p) !important;
    color: var(--color-fg-p) !important;
    filter: brightness(115%);
    margin-top: 10px;
    border: 1px solid var(--color-shadow);
    margin-bottom: 1em;
    margin-left: 20px;
    padding: 10px;
    width: -webkit-fill-available;
    list-style-type: disc;
    list-style-position: inside;

    p::first-letter {
      font-size: inherit;
      font-weight: inherit;
      margin-right: inherit;
      padding: inherit;
      margin-left: inherit;
    }

    ol {
      margin: 1px;
      margin-left: 7px;
      padding: 1px;
      border: none;
    }

    ul {
      margin: 0; padding: 0;
      font-size: initial;
      font-weight: 400;

      li {
        margin: 0; padding: 0;
      }
    }

    p {
      border-bottom: 1px dashed var(--color-fg-p);
    }
    
    li {
      list-style: outside none none !important;
      // width: '100%';
    }
  }


  .hint.tip{
    color: var(--color-fg-a);
    background-color: var(--color-bg-p);
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 35px;
    padding: 8px;
    // border-radius: 8px 3px;
    border-left: 2px solid var(--color-fg-a);
    border-right: 2px solid var(--color-fg-a);
    box-shadow: 0px 0 1px 0px var(--color-fg-p);

    font-weight: 500 !important;
  }

  .hint.warn{
    font-weight: 600 !important;
    background-color: var(--color-bg-p) !important;
    color: #ee9702;
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 35px;
    padding: 8px;
    // border-radius: 6px 3px;
    border-left: 2px solid #ee9702;
    border-right: 2px solid #ee9702;
    box-shadow: 0px 0 1px 0px var(--color-fg-p);

  }
  .hint.error{
    color: #ee0202;
    background-color: var(--color-bg-p);
    margin-top: 12px;
    margin-bottom: 8px;
    margin-left: 35px;
    padding: 8px;
    // border-radius: 12px 3px;
    border-left: 4px solid #ee0202;
    border-right: 4px solid #ee0202;
    box-shadow: 1px s;
    box-shadow: -2px 4px 39px 11px rgb(0 0 0 / 25%) inset;

    font-weight: 700 !important; 
  }
}

#coffeebg{
  // background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(167,164,168,1) 80%, rgba(104,102,108,1) 100%), url('../public/codinglaptopwallpaoer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Carousel_{
  span{
    background-color: transparent;
    color:rgba(13, 24, 153, 0.9);
  }
}